@import "tailwindcss";

* {
  list-style: none;
  box-sizing: border-box;
}

@utility slideAnm {
  animation: slide 1s ease-in;
}

@keyframes slide {
  from {
    right: -20rem;
  }
  to {
    right: 0;
  }
}

@utility scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

@layer utilities {
  @keyframes spin-ease {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinAnime {
    animation: spin-ease 10s ease-in-out infinite;
  }
}
